{:aliases  {:dev {:extra-paths ["development/src"
                                "bases/ledger-api/src"
                                "bases/ledger-api/resources/"]
                  :extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                               org.clojure/tools.deps.alpha {:mvn/version "0.12.1003"}}}

            :test {:extra-paths ["bases/ledger-api/test"]}

            :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                   :extra-deps {polyfy/polylith
                                {:git/url   "https://github.com/polyfy/polylith"
                                 :sha       "5f74c8b8675dbb091258165d327af3958716a247"
                                 :deps/root "projects/poly"}}}}}
