{:paths ["src" "resources"]
 :deps {org.clojure/clojure             {:mvn/version "1.10.3"}
        org.clojure/clojurescript       {:mvn/version "1.10.891"}
        org.clojure/core.async          {:mvn/version "1.5.648"}
        org.clojure/core.cache          {:mvn/version "1.0.225"}
        org.clojars.mmb90/cljs-cache    {:mvn/version "0.1.4"}
        org.clojure/data.avl            {:mvn/version "0.1.0"}
        org.clojure/data.xml            {:mvn/version "0.2.0-alpha6"}
        environ/environ                 {:mvn/version "1.2.0"}
        byte-streams/byte-streams       {:mvn/version "0.2.4"}
        cheshire/cheshire               {:mvn/version "5.10.1"}
        instaparse/instaparse           {:mvn/version "1.4.10"}

        ;; logging
        org.clojure/tools.logging       {:mvn/version "1.2.2"}
        logback-bundle/core-bundle      {:mvn/version "0.3.0"}
        org.slf4j/slf4j-api             {:mvn/version "1.7.32"}

        ;; Lucene
        clucie/clucie                   {:mvn/version "0.4.2"}

        ;; http
        http-kit/http-kit               {:mvn/version "2.5.3"}
        com.fluree/http.async.client    {:mvn/version "1.3.1-25-0xae4f"}

        ;; benchmarking
        criterium/criterium             {:mvn/version "0.4.6"}

        ;; serialization / compression
        com.fluree/abracad              {:mvn/version "0.4.19"}
        com.taoensso/nippy              {:mvn/version "3.1.1"}
        org.xerial.snappy/snappy-java   {:mvn/version "1.1.8.4"}
        com.fluree/alphabase            {:mvn/version "3.2.2"}

        ;; cryptography
        com.fluree/crypto               {:mvn/version "0.3.7"}
        org.bouncycastle/bcprov-jdk15on {:mvn/version "1.70"}

        com.fluree/json-ld              {:git/url "https://github.com/fluree/json-ld.git"
                                          :sha "44f1d6901bb0c018266e249f7e7dc35f389789ad"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {}}}}
